
.listpage {
    display: flex;
    height: 100%;

    .listcontainer {
        flex: 3;

        .wrapper {
            height: 100%;
            padding-right: 50px;
            padding-bottom: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            overflow-y: scroll;
        }
    }
    .mapcontainer {
        height: 100%;
        flex: 2;
        background-color: #fcf5f3;
    }
}