@import "./responsive.scss";

.layout {
    height: 100vh;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

    @include lg {
        background-color: rgb(255, 85, 85);
        max-width: 1024px;
    }

    @include md {
        background-color: rgb(250, 162, 0);
        max-width: 680px;
    }

    @include sm {
        background-color: rgb(139, 139, 247);
        max-width: 460px;
    }
    
    .content {
        height: calc(100vh - 100px);
    }
}